<div class="container">
    <div class="row">
        <div class="form-bg">
            <form [formGroup]="passwordform" (ngSubmit)='newdata(passwordform)' class="text-center border border-light p-5">
                <div class="form-group" >
                    <input type="text" class="form-control mb-4" formControlName="password" placeholder="Enter your new password">
                </div>
                <div class="form-group" >
                    <button type="submit">set password</button>
                </div>
            </form>
        </div>
    </div>
</div>