<div>
    <p>
        <mat-toolbar color="accent">
            <!-- <mat-icon>menu</mat-icon> -->
           <span>Menu</span>
        <span class="flex-spacer"></span>
        <a mat-button routerLink="/Test" routerLinkActive="active"><mat-icon>home</mat-icon>Test</a>
        <a mat-button routerLink="/Material" routerLinkActive="active"><mat-icon>account_circle</mat-icon> About</a>
        <a mat-button routerLink="/toolbar" routerLinkActive="active"><mat-icon>menu</mat-icon> Menu</a>
        <a mat-button routerLink="/contactus" routerLinkActive="active"><mat-icon>contact_support</mat-icon> Contact</a>
        <span class="example-spacer"></span>
        <a mat-button routerLink="/Login" ><mat-icon>lock</mat-icon> Login</a>
      </mat-toolbar>
</div>
<div><router-outlet></router-outlet></div>